.side-card{
     box-shadow: 4px 4px 5px 0.9px gray;
     margin-top: 30px;
     padding: 30px;
}
.side-card h3{
     color: brown;
     padding: 5px;
     border-bottom: 2px solid gray;
}
.side-card h4{
      
     background: lightcyan;
     padding: 20px;
     box-shadow: 4px 4px 5px 0.9px gray;
}