.cards{
     
     border: 2px solid rgb(220, 183, 183);
     border-radius: 20px;
     margin: 30px auto;
     padding: 30px;
     box-shadow: 4px 4px 5px 0.9px gray;
}
.cards img{
     width: 280px;
     height: 250px;
     padding: 40px;
}
.parents{
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.author-info {
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.author-info img{
     width: 30px;
     height: 30px;
     border-radius: 70px;
}
