.parent{
     /* display:  grid;
     grid-template-columns: 4fr 1fr; */
     display: flex;
     justify-content: space-between;
     grid-gap: 10px;
     /* margin-top: 40px;border: 2px solid brown; */
     width:1440px ;
     height: 180vh;
     margin: 20px auto;
}
.left-side{
     width: 1020px;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-gap: 20px;
      
}
.right-side{
     width: 400px;
}
 
@media only screen and (max-width: 500px) {
       .parent{
          flex-direction: column;
          width: 100%;
       }
       .left-side{
          width: 100%;
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          grid-gap: 20px;
           
     }
   }